body{
    background-color:#ffffff;
}

table{
    margin: auto;
    text-align: center;
    border-spacing: 0px;
    Width: 600px;
    Height: 400px;
    background-color: white;
}
table, td, caption{
    border: 1px solid #000000;
}

td{
    height: 30px;
    width: 120px;
}

#cor, caption{
    background-color: #397935;
    color: #fff;
}

caption{
    height: 30px;
}

    
      

      
